:local(.pageUse) {
  height: 100%;
  .test {
    width: 800px;
  }
  .button {
    float: left;
    margin: 0 0 9px 10px;
    padding: 0 9px;
    // height: 28px;
    font-size: 0;
    color: #509af6;
    line-height: 30px;
    background-color: #fff;
    border-radius: 3px;
    background: #2280ed;
    border: 1px solid #509af6;
    span {
    	font-size: 14px;
    	color: #fff;
    	vertical-align: middle;
    }
  }
}